    .qualityCards{
        width: 1400px;
        margin: 0 auto;
        padding: 40px;
        display: flex;
    }

    .qualityCardsContainer{
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-content: center!important;
        gap: 1.5rem;
    }
