.newsCard{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    padding: 20px 40px;
}
.newsCardImage{
    grid-column: span 5;
    transform: skew(-5deg,0deg);
}
.newsCardDetails{
    grid-column: span 7;
}