.herobg{
    background-image: url("./../../assets/image/banner-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
}
.introduction__content{
    padding-top: 60px;
    margin: 0 auto;
    max-width: 1000px;
}
.demo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.demo__image{
    width: 293px; 
    height: auto;
    object-fit: cover;

}

.features{
    background-image: url("./../../assets/image/game-dark-souls-ii-1920x1080-1440x810.jpg");
    min-height: 50vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.features__conntent{
    max-width: 1000px;
    margin: 0 auto;
}
.purchase{
    background-image: url("./../../assets/image/game-bloodborne-1920x1151-1440x863.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 40vh;
}