@import "./../../assets/css/root.css";

footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 1400px;
    padding: 80px 0px 0px 0px;
    margin: 0 auto  ;
    background-image: url("./../../assets/image/footer-bg.jpg");
}

.footerContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerTitle{
    font-size: 24px;
    margin-bottom: 40px;
}

.socialContent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: center;
    gap: 4rem;
}

.socialMedia{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#08032569;
    padding: 20px 25px;
    transform: skew(-15deg,0);
}
.socialMedia i{
    font-size: 65px;
    color: white;
    transform: skew(15deg,0);
}

.socialMedia:hover{
    background-color: #08032550;
}
.footerBar{
    display: flex;
    justify-content: center;
    background-color: #08032550;
    padding: 30px 0px;
}