@import url("./../../css/root.css");
/* src/index.css */
@import "tailwindcss";

nav{
    background-color: var(--navbackgroundv2);
    height: 80px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.navbar{
    padding: 0px 10px;
}
.logo{
    margin-right: 12px;
}
.nav__link{
    color: white;
}
.dropdownMenu{
    display: none;
    position: absolute;
}
.dropdown:hover .dropdownMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color:#08032580;
    padding: 30px;
}
.dropdownLink{
    color: white;
}
.scrolled__nav{
    background-color: var(--navbackground);
    padding: 0px 10px;
    height: 70px;
}